# Portas expostas no host
WEB_PORT=3000
API_PORT=8000
POSTGRES_PORT=5432
REDIS_PORT=6379

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000

# Backend
APP_ENV=local

# PostgreSQL
POSTGRES_DB=obrafacil
POSTGRES_USER=obrafacil
POSTGRES_PASSWORD=obrafacil
